package require Itcl

itcl::class %CLASS% {
  inherit model::AttackProfile

  constructor {args} {}
  destructor {}

  public variable value
}

itcl::body %CLASS%::constructor {args} {
  set _type attackprofile
  # need to put component and model in place first
  foreach arg {component model} {
    set cfgix [lsearch $args -$arg]
    if {$cfgix != -1 && ($cfgix % 2) == 0 && ([llength $args] % 2) == 0} {
      eval [list configure -$arg [lindex $args [expr $cfgix + 1]]]
    }
  }
  configure -value default
  eval configure $args
  if {![info exists value]} {
    error "value must be specified" {} RUNTIME_ERROR
  }
}

itcl::body %CLASS%::destructor {} {
}

itcl::configbody %CLASS%::value {
  if {[itcl::find objects config] == ""} return
  # in basic mode, the user doesn't get to set the value.
  if {$component != "" 
      && [dict get [$component cget -value] complexity] == "basic"} {
    set value Defaults
  }
}

log::log warn "attackprofile %CLASS% declared"
