package require Itcl

itcl::class %CLASS% {
  inherit model::LoadProfile

  constructor {args} {}
  destructor {}

  public variable value
}

itcl::body %CLASS%::constructor {args} {
  set _type loadprofile
  configure -value "None"
  eval configure $args
  if {![info exists value]} {
    error "value must be specified" {} RUNTIME_ERROR
  }
}

itcl::body %CLASS%::destructor {} {
}

itcl::configbody %CLASS%::value {
 }

log::log warn "loadprofile %CLASS% declared"
